.title {
    font-size: 30px;
    font-size: 20;
    font-weight: bold;
}

.main-container {
    max-width: 100%;
    height: 200px;
    background-color: #F5EFEA;
    padding: 50px;
}

.photo {
    width: 100px;
    height: 80px;
    margin-left: 15px;
    margin-right: 15px;
}